Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-inc-dec-in-conditions,
  -bugprone-integer-division,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case,
  -bugprone-swapped-arguments,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-nullability.*,
  clang-analyzer-unix.*,
  readability-const-return-type,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-simplify-boolean-expr,
  readability-redundant-string-init,
  readability-static-accessed-through-instance
WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*/)(include|src)/.*'
SystemHeaders: false
FormatStyle: file
